/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 25px 0;
}
.pad-section img {
  width: 100%;
}

.navbar {
  opacity: 0.7;
  height: 80px;
}

.navbar-right li {
  font-size: 16px;
  font-family: 'Raleway';
  padding-top: 20px;
}

.panel h1 {
  font-family: 'Raleway';
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-family: "Rock Salt";
  font-weight: thin;
  text-align: center;
  font-size: 55px;
  color: white;
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.text-center {
  font-family: 'Raleway';
  font-weight: thin;
}

.text-center h2 {
  font-weight: 700;
}

.text-vcenter h3 {
  font-family: "Raleway";
  font-weight: thin;
  text-align: center;
  color: black;
  font-weight: 700;
  margin: 0;
  padding: 0;

}

.text-right {
  font-family: 'Raleway';
  color: white;
  font-weight: thin;

}

footer .text-center p {
  color: white;
}

footer .text-center a {
  color: #B2CEF8;
  text-decoration: none;
}

footer .text-center a:hover {
  text-decoration: none;
  color: #001C3B;
}

/* Text style */
.panel-default {
  text-align: center;

}

/* img */
img {
  max-height: 300%;
}

.modal {
  background: None;
  position: absolute;
  width: 100%;
  margin: 0px;
}

iframe {
  width: 100%;
}

/* additional sections */
#home {
  background: url(../img/sam60.jpg) no-repeat center center fixed; 
  opacity: 0,6;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
  position: relative;
}

#services {
  background-color: #057BAC;
  color: #ffffff;
  position: relative;
}


#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
  position: relative;
}

#information {
  background: url(../img/slide3_op.png) no-repeat center center fixed; 
  display: table;
  height: 400px;
  padding-top: 50px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#information .panel {
  opacity: 0.85;
  position: relative;
}

#google_map {
  height: 400px;
  pointer-events: none;
  position: relative;
}

footer {  
  background-color: #057BAC ;
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}